# NeonPandas Example

In [1]:
import pandas as pd 
import neonpandas as npd

## Create NodeFrame

In [7]:
data = pd.read_csv('datasets/pets.csv')

In [9]:
## can convert existing dataframe or any input data that Pandas DataFrame can accept
nodes = npd.NodeFrame(data, id_col='name', labels={'Pet'}, lbl_col='species')
nodes

         labels      name   color   age    behavior
0    {Dog, Pet}     Ralph   black  10.0         NaN
1    {Cat, Pet}       Pip  yellow   6.0        good
2    {Pig, Pet}      Babe     NaN   3.0         NaN
3   {Fish, Pet}   Bubbles     red   NaN  acceptable
4  {Pet, Horse}  Freckles   brown   NaN         NaN

## Create EdgeFrame

In [10]:
data = pd.read_csv('datasets/edges.csv')

In [11]:
edges = npd.EdgeFrame(data, rel_col='rel_type', 
                      src_col='src', dest_col='dest', 
                      src_id='name', dest_id='name',
                      labels={'Pet'})
edges

,rel_type,src,dest,reporter,length
0,FRIENDLY_WITH,"(s:Pet {name: ""Ralph""})","(d:Pet {name: ""Bubbles""})",Jenny,2 years
1,MEAN_TO,"(s:Pet {name: ""Pip""})","(d:Pet {name: ""Babe""})",Frank,1 month
2,MEAN_TO,"(s:Pet {name: ""Ralph""})","(d:Pet {name: ""Freckles""})",Frank,1 day
3,FRIENDLY_WITH,"(s:Pet {name: ""Freckles""})","(d:Pet {name: ""Babe""})",Tommy,10 months
4,JUST_MET,"(s:Pet {name: ""Pip""})","(d:Pet {name: ""Barney""})",Jenny,NaN

## Add Nodes & Edges to Graph

In [5]:
graph = npd.Graph(uri='bolt://localhost:7687', auth=('neo4j', 'neonpandas'))

In [ ]:
## add nodes to graph
graph.create_nodes(nodes)

In [6]:
## add edges to graph
graph.create_edges(edges)