# Series Subclassing Dev

In [16]:
import pandas as pd 
from pandas.api.extensions import ExtensionDtype

## Example Data

In [6]:
data = [
    {'name': 'Ralph', 'labels': ['pet', 'dog'], 'color': 'black', 'age': 10},
    {'name': 'Pip', 'labels': ['pet', 'cat'], 'color': 'yellow', 'age': 6},
    {'name': 'Babe', 'labels': ['pet', 'pig'], 'color': 'pink', 'age': 3}
]

In [7]:
df = pd.DataFrame(data)
df.head()

    name      labels   color  age
0  Ralph  [pet, dog]   black   10
1    Pip  [pet, cat]  yellow    6
2   Babe  [pet, pig]    pink    3

## Subclassing

### Series

In [43]:
class SubclassedSeries(pd.Series):

    @property
    def _constructor(self):
        return SubclassedSeries

    @property
    def _constructor_expanddim(self):
        return SubclassedDataFrame

### DataFrame

In [44]:
class SubclassedDataFrame(pd.DataFrame):

    @property
    def _constructor(self):
        return SubclassedDataFrame

    @property
    def _constructor_sliced(self):
        return SubclassedSeries

In [45]:
sub_df = SubclassedDataFrame(data)
sub_df.head()

    name      labels   color  age
0  Ralph  [pet, dog]   black   10
1    Pip  [pet, cat]  yellow    6
2   Babe  [pet, pig]    pink    3

In [46]:
labels = sub_df.labels
labels

0    [pet, dog]
1    [pet, cat]
2    [pet, pig]
Name: labels, dtype: object

In [47]:
sub_series = SubclassedSeries(labels)
sub_series

0    [pet, dog]
1    [pet, cat]
2    [pet, pig]
Name: labels, dtype: object

## Label Set

In [11]:
class LabelSet(set):
    whatami = 'I am the LabelSet class'

In [14]:
test = LabelSet(['pet', 'dog'])

In [15]:
test

{'dog', 'pet'}

In [28]:
@pd.api.extensions.register_extension_dtype
class LabelSet(ExtensionDtype):
    name = 'labelset'
    type = set
    kind = '???'
    _record_type = set
    na_value = {}

In [ ]:
class IPArray(NumPyBackedExtensionArrayMixin):
    __array_priority__ = 1000
    _dtype = IPType()
    _itemsize = 16
    ndim = 1
    can_hold_na = True

    def __init__(self, values, dtype=None, copy=False):
        from .parser import _to_ip_array

        values = _to_ip_array(values) 
        if copy:
            values = values.copy()
        self.data = values

### GeoSeries Example

In [ ]:
class GeoSeries(GeoPandasBase, Series):

In [57]:
class LabelSeries(pd.Series):
    def __init__(self, data):
        super(LabelSeries, self).__init__(data)

In [60]:
test = LabelSeries([['dog', 'pet'], ['pet', 'cat']])

In [61]:
test

0    [dog, pet]
1    [pet, cat]
dtype: object