# NeonPandas Walk-Through

<img src="src/logo.png" width="200" align="left"/>

In [1]:
import pandas as pd 
import neonpandas as npd

## Create NodeFrame

In [2]:
pets = pd.read_csv('datasets/pets.csv')

In [3]:
## can convert existing dataframe or any input data that Pandas DataFrame can accept
nodes = npd.NodeFrame(pets, id_col='name', labels={'Pet'}, lbl_col='species')
nodes.show()

## Create EdgeFrame

In [4]:
data = pd.read_csv('datasets/edges.csv')

In [5]:
edges = npd.EdgeFrame(data, rel_col='rel_type', 
                      src_col='src', dest_col='dest', 
                      src_id='name', dest_id='name',
                      labels={'Pet'})
edges.show()

## Add Nodes & Edges to Graph

In [6]:
graph = npd.Graph(uri='bolt://localhost:7687', auth=('neo4j', 'neonpandas'))

In [ ]:
## add nodes to graph
graph.create_nodes(nodes)

In [ ]:
## add edges to graph
graph.create_edges(edges)

## Neo4j Bolt Output
![](src/bolt_vis.png)

## Matching

In [7]:
all_my_pets = graph.match_nodes(labels={'Pet'}, id_col='name')
all_my_pets.show()

In [8]:
## add properties to search
just_ralph = graph.match_nodes(labels={'Pet'}, properties={'name': 'Ralph'})
just_ralph.show()

## Joining
Comparing data inside and outside of Neo4j.

In [9]:
new_pets = pd.DataFrame([
    {'name': 'Betsy', 'age': 2, 'species': 'Cow'},
    {'name': 'Carrie', 'species': 'Rabbit'}
])
all_pets = pd.concat([pets, new_pets], sort=False).reset_index(drop=True)

In [10]:
# convert to nodeframe
all_pets = npd.NodeFrame(all_pets, id_col='name', lbl_col='species', labels={'Pet'})
all_pets.show()

### Semi-Join

In [11]:
graph.semi_join(all_pets, on='name', labels={'Pet'}).show()

### Anti-Join

In [12]:
new_pets = graph.anti_join(all_pets, on='name', labels={'Pet'})
new_pets.show()